@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dongle:wght@300&family=Mochiy+Pop+P+One&family=Roboto:ital,wght@0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainGray: #f3f4f6;
  --mainTextColor: #111827;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
/* nav */
nav {
  position: relative;
}
.top-nav-menu {
  position: relative;
  background: var(--mainGray);
  height: 2.4rem;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  color: var(--mainTextColor);
  font-size: 0.85rem;
  margin-right: 2rem;
}
.top-nav-menu div {
  background: var(--mainTextColor);
  width: 1px;
  height: 10px;
  margin: 0 0.5rem;
}
.nav-top-link {
  color: var(--mainTextColor);
}

.hidden {
  display: none;
}
.nav-icon {
  margin-right: 0.7rem;
  font-size: 1.45rem;
  font-weight: 100;
  color: var(--mainTextColor);
  cursor: pointer;
  color: gray;
}

.nav-search {
  margin-right: 1rem;
  border-radius: 25px 25px;
  background: var(--mainGray);
  border: none;
  color: #a5a6a7;
  text-align: center;
  height: 2.6rem;
  width: 11rem;
  outline: none;
}
.search-icon {
  position: absolute;
  left: 5%;
}

.search-bar {
  margin-left: 1.4rem;
  position: relative;
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-link {
  color: var(--mainTextColor);
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0.8rem;
}
.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* end of nav */

.nav-menu {
  position: absolute;
  transition: all 0.3s linear;
  transform: translateX(-100%);
  z-index: 99;
  background: white;
  width: 100%;
  height: 1200px;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.show-nav-menu {
  transform: translateX(0);
  transition: all 0.3s linear;
  transform: translateX(0%);
  z-index: 99;
  text-align: center;
}
.nav-menu-link {
  display: flex;
  justify-content: center;
  color: var(--mainTextColor);
  margin: 0.5rem 0;
  width: 100%;
}
.nav-menu-link:hover {
  opacity: 0.7;
}
.nav-menu-btn {
  width: 7rem;
  height: 2.5rem;
  border-radius: 15px 15px;
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.join-us {
  color: white;
  background: black;
  margin-right: 0.25rem;
}
.sign-in {
  color: var(--mainTextColor);
  background: white;
  border: 1px solid gray;
  margin-left: 0.25rem;
}
.sign-in:hover {
  background: black;
  color: white;
}
.nav-menu-footer-link {
  display: flex;
  font-size: 1.3rem;
  color: var(--mainTextColor);
  margin-top: 0.7rem;
}
.nav-menu-footer-icon {
  margin-right: 1rem;
}
/* text slider */
.text-slider-container {
  text-align: center;
  height: 3.85rem;
  width: 100%;
  background: var(--mainGray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.text-slider-container a {
  color: var(--mainTextColor);
  border-bottom: 1px solid gray;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
.text-slider-container h4 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin: 0.1rem 0;
}
.text-slide {
  transition: all 0.3s linear;
  width: 100%;
  transform: translateX(-100%);
}
.text-show-slide {
  transform: translateX(0%);
  transition: all 0.3 linear;
}

/* end of text slider */
/* Hero */
.hero {
  position: relative;
  background: url("./images/nikeshoe.jpg"), no-repeat;
  height: 500px;
  background-position: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.hero-content {
  position: absolute;
  bottom: 16%;
  color: white;
}
.hero-content h1 {
  font-size: 4.4rem;
  max-width: 400px;
  font-family: "Anton", sans-serif;
  line-height: 70px;
  margin-left: 2rem;
}
.hero-content p {
  margin: 1rem 2rem;
  font-size: 1.1rem;
  max-width: 300px;
  line-height: 20px;
}
.hero-content button {
  margin: 1rem 2rem;
  width: 6rem;
  height: 2.4rem;
  background: white;
  color: black;
  font-size: 1rem;
  border-radius: 15px 15px;
  border: none;
  cursor: pointer;
}
.hero-content button:hover {
  opacity: 0.7;
}
/* end of Hero */

/* Products Home */
.airmax-container {
  display: flex;
  overflow-x: scroll;
  font-family: "Dongle", sans-serif;
}
.airmax {
  margin-right: 0.3rem;
}
.airmax img {
  width: 300px;
  height: 300px;
}
.airmax h5 {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.best-airmax-text {
  margin: 0.5rem 0.5rem;
  font-weight: 100;
}
/* end of Products Home */

/* Products Products.js */
.products-top {
  font-family: "Dongle", sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  border-bottom: 1px solid rgb(219, 217, 217);
}
.products-top-h4 {
  font-size: 2rem;
  margin: 1.6rem 1rem;
  font-family: "Dongle", sans-serif;
}
.products-top-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 2.4rem;
  font-family: "Dongle", sans-serif;
  border-bottom: 1px solid rgb(226, 225, 225);
  overflow-x: scroll;
}
.numItems {
  margin-left: 1rem;
  font-size: 1.7rem;
  font-family: "Dongle", sans-serif;
  font-weight: 100;
  margin-top: 0.7rem;
  color: rgb(167, 167, 167);
}
/*End of Products Products.js */

/* Filter.js */
.filter-container {
  height: 1100px;
  display: none;
}
.show-filter {
  display: block;
}
.filter-by-category h4 {
  font-size: 1.2rem;
  color: var(--mainTextColor);
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.filter-by-category h5 {
  font-size: 1rem;
  color: var(--mainTextColor);
  margin-top: 0.35rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
  cursor: pointer;
}
.filter-by-category h5:hover {
  opacity: 0.7;
}
.filter-category {
  border-top: 1px solid rgb(226, 225, 225);
  width: 150px;
  font-family: "Roboto", sans-serif;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  margin-left: 1rem;
}

.gender-filter {
  display: flex;
  flex-direction: column;
}
.gender-filter div {
  margin-top: 0.5rem;
}
.gender-filter label {
  margin-left: 0.3rem;
  font-size: 1rem;
}
.filter-price {
  height: 240px;
}
.filter-price div {
  margin-top: 0.5rem;
}
.filter-price label {
  margin-left: 0.3rem;
}
.filter-color {
  border-top: 1px solid rgb(226, 225, 225);
  border-bottom: 1px solid rgb(226, 225, 225);
  width: 150px;
  font-family: "Roboto", sans-serif;
  height: 270px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  margin-top: 0.5rem;
}
.filter-color p {
  margin-left: 0.3rem;
  margin-top: 0.5rem;
}
.color {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 0.2rem;
  padding: 0 0;
}

/* End of Filter.js */

/* SingelProduct.js */
.size-btn {
  width: 4.4rem;
  height: 3rem;
  margin-right: 0.3rem;
  margin-top: 0.3rem;
  background: transparent;
  border-radius: 5px 5px;
  border: 1px solid rgb(167, 164, 164);
  cursor: pointer;
}
.size-btn:hover {
  border: 1.5px solid black;
}
.add-to-cont img {
  width: 25px;
  border-radius: 5px 5px;
}
.add-to-cont button {
  width: 80%;
  height: 3rem;
  border-radius: 20px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.singel-item-decription {
  font-weight: 100;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.singel-item-modal {
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}
.singel-item-modal p {
  border-bottom: 1px solid black;
  max-width: 145px;
  font-weight: bold;

  cursor: pointer;
}
.singel-item-modal p:hover {
  border-bottom: 2px solid black;
}
.item-details {
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top: 1px solid rgb(192, 189, 189);
  margin-bottom: 1rem;
  height: 6rem;
}
.item-det-con {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  transition: all 0.3s linear;
}
.item-details-arr {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.item-link {
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.add-to-cart-btn:hover {
  opacity: 0.6;
}
/* End of SingelProduct.js */
/* Account.js */
.account-cart-img::before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}
.account-cart-img:hover::before {
  height: 100%;
}
/* endof Account.js */
@media screen and (max-width: 900px) {
  .top-nav-menu {
    display: none;
  }
  .search-bar {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .heart-icon {
    display: none;
  }
  /* .filter-container {
    display: none;
  } */
}

@media screen and (min-width: 900px) {
  .navbar-icon {
    display: none;
  }
  .out-search-icon {
    display: none;
  }
  .products-top-div {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .hero-content {
    bottom: -60%;
    color: black;
    margin: 1rem -2rem;
  }
  .hero-content button {
    background: black;
    color: white;
  }
  .hero-content h1 {
    font-size: 3rem;
    max-width: 300px;
    line-height: 50px;
  }
  .hero {
    margin-bottom: 24rem;
  }
  .best-airmax-text {
    margin-left: 1.1rem;
  }
  .text-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-slide a {
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }
  .category-text-smallerscreen {
    display: none;
  }
}
@media screen and (min-width: 680px) {
  .best-airmax-text {
    margin-top: 6rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
}
